<!DOCTYPE html>
<html>
<head>
<title>edit page  Job</title>

<style>

body{
font-family:Arial;
background:#f5f6fa;
}

.form-box{
width:400px;
margin:100px auto;
background:white;
padding:30px;
box-shadow:0 2px 10px rgba(36, 102, 243, 0.1);
border-radius:8px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background-color:#033054;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

</style>

</head>

<body>

<form class="form-box" method="POST" enctype="multipart/form-data" >
{% csrf_token %}
<h2>Add / Update Job</h2>

<input type="text"  placeholder="Job Title" value= "{{job.title}}"name="title">
<input type="text"  placeholder="Company"value= "{{job.company}}" name="company">
<input type="text"  placeholder="Location" value= "{{job.location}}"name="location">
<input type="text"  placeholder="Salary (LPA)" value= "{{job.salary}}"name="salary">

<input type="submit">

</form>